@using Rockmelon.Domain
@model Rockmelon.Site.Game.Models.GameModel

<div class="main">
    <h1> Xbox Review </h1>
    
    <table id="games-table" class="tablesorter">
        <thead>
            <tr><th>Click a header to sort</th></tr>
            <tr>
                <th>Title</th><th>Description</th><th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var g in Model.Games)
            {
                <tr class="r@((g.GameId % 2) + 1)">
                    <td class="title">@g.Title</td>
                    <td>@g.Description &nbsp &nbsp<a class="edit" href="#" onClick="EditGame(@g.GameId);">Edit</a></td>
                    <td>@Html.Hidden(g.TotalRating().ToString())<img src="Content/images/@(g.TotalRating())star.png"/>
                        &nbsp &nbsp<a class="rate" href="#" onClick="EditGame(@g.GameId);">Rate it!</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="detail-popup" style="display:none;">
</div>
<script type="text/javascript">
    

    $(document).ready(function ()
    {
        $("#games-table").tablesorter({ sortList: [[2, 1], [0, 0], [1, 0]] });
        $("#detail-popup").dialog({
            autoOpen: false, title: 'Title', width: 400, height: 200, modal: true
        });
    });

    function EditGame(gameId)
    {
        var url = '@(Url.Action("Detail", new { Controller = "Game"}))';
        $.ajax({
            url: url,
            async: false,
            type: 'POST',
            data: { gameId: gameId },
            success: function (data)
            {
                $('#detail-popup').html(data);
            },
            error: function () { alert('An error occured.'); }
        });
        $("#detail-popup").dialog("open");
    }
</script>